.col-1,
.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5,
.col-1-6,
.col-5-6,
.col-1-10,
.col-3-10,
.col-7-10,
.col-9-10,
.col-1-15,
.col-2-15,
.col-4-15,
.col-7-15,
.col-8-15,
.col-11-15,
.col-13-15,
.col-14-15,
.col-1-30,
.col-2-30,
.col-3-30,
.col-4-30,
.col-5-30,
.col-6-30,
.col-7-30,
.col-8-30,
.col-9-30,
.col-10-30,
.col-11-30,
.col-12-30,
.col-13-30,
.col-14-30,
.col-15-30,
.col-16-30,
.col-17-30,
.col-18-30,
.col-19-30,
.col-20-30,
.col-21-30,
.col-22-30,
.col-23-30,
.col-24-30,
.col-25-30,
.col-26-30,
.col-27-30,
.col-28-30,
.col-29-30,
.col-30-30 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.col-1-30 {
    width: 3.3333%;
    *width: 3.3023%;
}

.col-1-15,
.col-2-30 {
    width: 6.6667%;
    *width: 6.6357%;
}

.col-1-10,
.col-3-30 {
    width: 10%;
    *width: 9.9690%;
}

.col-2-15,
.col-4-30 {
    width: 13.3333%;
    *width: 13.3023%;
}

.col-1-6,
.col-5-30 {
    width: 16.6667%;
    *width: 16.6357%;
}

.col-1-5,
.col-6-30 {
    width: 20%;
    *width: 19.9690%;
}

.col-7-30 {
    width: 23.3333%;
    *width: 23.3023%;
}

.col-4-15,
.col-8-30 {
    width: 26.6667%;
    *width: 26.6357%;
}

.col-3-10,
.col-9-30 {
    width: 30%;
    *width: 29.9690%;
}

.col-1-3,
.col-10-30 {
    width: 33.3333%;
    *width: 33.3023%;
}

.col-11-30 {
    width: 36.6667%;
    *width: 36.6357%;
}

.col-2-5,
.col-12-30 {
    width: 40%;
    *width: 39.9690%;
}

.col-13-30 {
    width: 43.3333%;
    *width: 43.3023%;
}

.col-7-15,
.col-14-30 {
    width: 46.6667%;
    *width: 46.6357%;
}

.col-1-2,
.col-15-30 {
    width: 50%;
    *width: 49.9690%;
}

.col-8-15,
.col-16-30 {
    width: 53.3333%;
    *width: 53.3023%;
}

.col-17-30 {
    width: 56.6667%;
    *width: 56.6357%;
}

.col-3-5,
.col-18-30 {
    width: 60%;
    *width: 59.9690%;
}

.col-19-30 {
    width: 63.3333%;
    *width: 63.3023%;
}

.col-2-3,
.col-20-30 {
    width: 66.6667%;
    *width: 66.6357%;
}

.col-7-10,
.col-21-30 {
    width: 70%;
    *width: 69.9690%;
}

.col-11-15,
.col-22-30 {
    width: 73.3333%;
    *width: 73.3023%;
}

.col-23-30 {
    width: 76.6667%;
    *width: 76.6357%;
}

.col-4-5,
.col-24-30 {
    width: 80%;
    *width: 79.9690%;
}

.col-5-6,
.col-25-30 {
    width: 83.3333%;
    *width: 83.3023%;
}

.col-13-15,
.col-26-30 {
    width: 86.6667%;
    *width: 86.6357%;
}

.col-9-10,
.col-27-30 {
    width: 90%;
    *width: 89.9690%;
}

.col-14-15,
.col-28-30 {
    width: 93.3333%;
    *width: 93.3023%;
}

.col-29-30 {
    width: 96.6667%;
    *width: 96.6357%;
}

.col-1,
.col-1-1,
.col-30-30 {
    width: 100%;
}

@media (max-width: 559px) {
    .col-sm-1,
    .col-sm-1-1,
    .col-sm-1-2,
    .col-sm-1-3,
    .col-sm-2-3,
    .col-sm-1-5,
    .col-sm-2-5,
    .col-sm-3-5,
    .col-sm-4-5,
    .col-sm-1-6,
    .col-sm-5-6,
    .col-sm-1-10,
    .col-sm-3-10,
    .col-sm-7-10,
    .col-sm-9-10,
    .col-sm-1-15,
    .col-sm-2-15,
    .col-sm-4-15,
    .col-sm-7-15,
    .col-sm-8-15,
    .col-sm-11-15,
    .col-sm-13-15,
    .col-sm-14-15,
    .col-sm-1-30,
    .col-sm-2-30,
    .col-sm-3-30,
    .col-sm-4-30,
    .col-sm-5-30,
    .col-sm-6-30,
    .col-sm-7-30,
    .col-sm-8-30,
    .col-sm-9-30,
    .col-sm-10-30,
    .col-sm-11-30,
    .col-sm-12-30,
    .col-sm-13-30,
    .col-sm-14-30,
    .col-sm-15-30,
    .col-sm-16-30,
    .col-sm-17-30,
    .col-sm-18-30,
    .col-sm-19-30,
    .col-sm-20-30,
    .col-sm-21-30,
    .col-sm-22-30,
    .col-sm-23-30,
    .col-sm-24-30,
    .col-sm-25-30,
    .col-sm-26-30,
    .col-sm-27-30,
    .col-sm-28-30,
    .col-sm-29-30,
    .col-sm-30-30 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .col-sm-1-30 {
        width: 3.3333%;
        *width: 3.3023%;
    }

    .col-sm-1-15,
    .col-sm-2-30 {
        width: 6.6667%;
        *width: 6.6357%;
    }

    .col-sm-1-10,
    .col-sm-3-30 {
        width: 10%;
        *width: 9.9690%;
    }

    .col-sm-2-15,
    .col-sm-4-30 {
        width: 13.3333%;
        *width: 13.3023%;
    }

    .col-sm-1-6,
    .col-sm-5-30 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-sm-1-5,
    .col-sm-6-30 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-sm-7-30 {
        width: 23.3333%;
        *width: 23.3023%;
    }

    .col-sm-4-15,
    .col-sm-8-30 {
        width: 26.6667%;
        *width: 26.6357%;
    }

    .col-sm-3-10,
    .col-sm-9-30 {
        width: 30%;
        *width: 29.9690%;
    }

    .col-sm-1-3,
    .col-sm-10-30 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-sm-11-30 {
        width: 36.6667%;
        *width: 36.6357%;
    }

    .col-sm-2-5,
    .col-sm-12-30 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-sm-13-30 {
        width: 43.3333%;
        *width: 43.3023%;
    }

    .col-sm-7-15,
    .col-sm-14-30 {
        width: 46.6667%;
        *width: 46.6357%;
    }

    .col-sm-1-2,
    .col-sm-15-30 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-sm-8-15,
    .col-sm-16-30 {
        width: 53.3333%;
        *width: 53.3023%;
    }

    .col-sm-17-30 {
        width: 56.6667%;
        *width: 56.6357%;
    }

    .col-sm-3-5,
    .col-sm-18-30 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-sm-19-30 {
        width: 63.3333%;
        *width: 63.3023%;
    }

    .col-sm-2-3,
    .col-sm-20-30 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-sm-7-10,
    .col-sm-21-30 {
        width: 70%;
        *width: 69.9690%;
    }

    .col-sm-11-15,
    .col-sm-22-30 {
        width: 73.3333%;
        *width: 73.3023%;
    }

    .col-sm-23-30 {
        width: 76.6667%;
        *width: 76.6357%;
    }

    .col-sm-4-5,
    .col-sm-24-30 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-sm-5-6,
    .col-sm-25-30 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-sm-13-15,
    .col-sm-26-30 {
        width: 86.6667%;
        *width: 86.6357%;
    }

    .col-sm-9-10,
    .col-sm-27-30 {
        width: 90%;
        *width: 89.9690%;
    }

    .col-sm-14-15,
    .col-sm-28-30 {
        width: 93.3333%;
        *width: 93.3023%;
    }

    .col-sm-29-30 {
        width: 96.6667%;
        *width: 96.6357%;
    }

    .col-sm-1,
    .col-sm-1-1,
    .col-sm-30-30 {
        width: 100%;
    }
}

@media (min-width: 560px) and (max-width: 959px) {
    .col-md-1,
    .col-md-1-1,
    .col-md-1-2,
    .col-md-1-3,
    .col-md-2-3,
    .col-md-1-5,
    .col-md-2-5,
    .col-md-3-5,
    .col-md-4-5,
    .col-md-1-6,
    .col-md-5-6,
    .col-md-1-10,
    .col-md-3-10,
    .col-md-7-10,
    .col-md-9-10,
    .col-md-1-15,
    .col-md-2-15,
    .col-md-4-15,
    .col-md-7-15,
    .col-md-8-15,
    .col-md-11-15,
    .col-md-13-15,
    .col-md-14-15,
    .col-md-1-30,
    .col-md-2-30,
    .col-md-3-30,
    .col-md-4-30,
    .col-md-5-30,
    .col-md-6-30,
    .col-md-7-30,
    .col-md-8-30,
    .col-md-9-30,
    .col-md-10-30,
    .col-md-11-30,
    .col-md-12-30,
    .col-md-13-30,
    .col-md-14-30,
    .col-md-15-30,
    .col-md-16-30,
    .col-md-17-30,
    .col-md-18-30,
    .col-md-19-30,
    .col-md-20-30,
    .col-md-21-30,
    .col-md-22-30,
    .col-md-23-30,
    .col-md-24-30,
    .col-md-25-30,
    .col-md-26-30,
    .col-md-27-30,
    .col-md-28-30,
    .col-md-29-30,
    .col-md-30-30 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .col-md-1-30 {
        width: 3.3333%;
        *width: 3.3023%;
    }

    .col-md-1-15,
    .col-md-2-30 {
        width: 6.6667%;
        *width: 6.6357%;
    }

    .col-md-1-10,
    .col-md-3-30 {
        width: 10%;
        *width: 9.9690%;
    }

    .col-md-2-15,
    .col-md-4-30 {
        width: 13.3333%;
        *width: 13.3023%;
    }

    .col-md-1-6,
    .col-md-5-30 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-md-1-5,
    .col-md-6-30 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-md-7-30 {
        width: 23.3333%;
        *width: 23.3023%;
    }

    .col-md-4-15,
    .col-md-8-30 {
        width: 26.6667%;
        *width: 26.6357%;
    }

    .col-md-3-10,
    .col-md-9-30 {
        width: 30%;
        *width: 29.9690%;
    }

    .col-md-1-3,
    .col-md-10-30 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-md-11-30 {
        width: 36.6667%;
        *width: 36.6357%;
    }

    .col-md-2-5,
    .col-md-12-30 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-md-13-30 {
        width: 43.3333%;
        *width: 43.3023%;
    }

    .col-md-7-15,
    .col-md-14-30 {
        width: 46.6667%;
        *width: 46.6357%;
    }

    .col-md-1-2,
    .col-md-15-30 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-md-8-15,
    .col-md-16-30 {
        width: 53.3333%;
        *width: 53.3023%;
    }

    .col-md-17-30 {
        width: 56.6667%;
        *width: 56.6357%;
    }

    .col-md-3-5,
    .col-md-18-30 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-md-19-30 {
        width: 63.3333%;
        *width: 63.3023%;
    }

    .col-md-2-3,
    .col-md-20-30 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-md-7-10,
    .col-md-21-30 {
        width: 70%;
        *width: 69.9690%;
    }

    .col-md-11-15,
    .col-md-22-30 {
        width: 73.3333%;
        *width: 73.3023%;
    }

    .col-md-23-30 {
        width: 76.6667%;
        *width: 76.6357%;
    }

    .col-md-4-5,
    .col-md-24-30 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-md-5-6,
    .col-md-25-30 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-md-13-15,
    .col-md-26-30 {
        width: 86.6667%;
        *width: 86.6357%;
    }

    .col-md-9-10,
    .col-md-27-30 {
        width: 90%;
        *width: 89.9690%;
    }

    .col-md-14-15,
    .col-md-28-30 {
        width: 93.3333%;
        *width: 93.3023%;
    }

    .col-md-29-30 {
        width: 96.6667%;
        *width: 96.6357%;
    }

    .col-md-1,
    .col-md-1-1,
    .col-md-30-30 {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .col-lg-1,
    .col-lg-1-1,
    .col-lg-1-2,
    .col-lg-1-3,
    .col-lg-2-3,
    .col-lg-1-5,
    .col-lg-2-5,
    .col-lg-3-5,
    .col-lg-4-5,
    .col-lg-1-6,
    .col-lg-5-6,
    .col-lg-1-10,
    .col-lg-3-10,
    .col-lg-7-10,
    .col-lg-9-10,
    .col-lg-1-15,
    .col-lg-2-15,
    .col-lg-4-15,
    .col-lg-7-15,
    .col-lg-8-15,
    .col-lg-11-15,
    .col-lg-13-15,
    .col-lg-14-15,
    .col-lg-1-30,
    .col-lg-2-30,
    .col-lg-3-30,
    .col-lg-4-30,
    .col-lg-5-30,
    .col-lg-6-30,
    .col-lg-7-30,
    .col-lg-8-30,
    .col-lg-9-30,
    .col-lg-10-30,
    .col-lg-11-30,
    .col-lg-12-30,
    .col-lg-13-30,
    .col-lg-14-30,
    .col-lg-15-30,
    .col-lg-16-30,
    .col-lg-17-30,
    .col-lg-18-30,
    .col-lg-19-30,
    .col-lg-20-30,
    .col-lg-21-30,
    .col-lg-22-30,
    .col-lg-23-30,
    .col-lg-24-30,
    .col-lg-25-30,
    .col-lg-26-30,
    .col-lg-27-30,
    .col-lg-28-30,
    .col-lg-29-30,
    .col-lg-30-30 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .col-lg-1-30 {
        width: 3.3333%;
        *width: 3.3023%;
    }

    .col-lg-1-15,
    .col-lg-2-30 {
        width: 6.6667%;
        *width: 6.6357%;
    }

    .col-lg-1-10,
    .col-lg-3-30 {
        width: 10%;
        *width: 9.9690%;
    }

    .col-lg-2-15,
    .col-lg-4-30 {
        width: 13.3333%;
        *width: 13.3023%;
    }

    .col-lg-1-6,
    .col-lg-5-30 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-lg-1-5,
    .col-lg-6-30 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-lg-7-30 {
        width: 23.3333%;
        *width: 23.3023%;
    }

    .col-lg-4-15,
    .col-lg-8-30 {
        width: 26.6667%;
        *width: 26.6357%;
    }

    .col-lg-3-10,
    .col-lg-9-30 {
        width: 30%;
        *width: 29.9690%;
    }

    .col-lg-1-3,
    .col-lg-10-30 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-lg-11-30 {
        width: 36.6667%;
        *width: 36.6357%;
    }

    .col-lg-2-5,
    .col-lg-12-30 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-lg-13-30 {
        width: 43.3333%;
        *width: 43.3023%;
    }

    .col-lg-7-15,
    .col-lg-14-30 {
        width: 46.6667%;
        *width: 46.6357%;
    }

    .col-lg-1-2,
    .col-lg-15-30 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-lg-8-15,
    .col-lg-16-30 {
        width: 53.3333%;
        *width: 53.3023%;
    }

    .col-lg-17-30 {
        width: 56.6667%;
        *width: 56.6357%;
    }

    .col-lg-3-5,
    .col-lg-18-30 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-lg-19-30 {
        width: 63.3333%;
        *width: 63.3023%;
    }

    .col-lg-2-3,
    .col-lg-20-30 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-lg-7-10,
    .col-lg-21-30 {
        width: 70%;
        *width: 69.9690%;
    }

    .col-lg-11-15,
    .col-lg-22-30 {
        width: 73.3333%;
        *width: 73.3023%;
    }

    .col-lg-23-30 {
        width: 76.6667%;
        *width: 76.6357%;
    }

    .col-lg-4-5,
    .col-lg-24-30 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-lg-5-6,
    .col-lg-25-30 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-lg-13-15,
    .col-lg-26-30 {
        width: 86.6667%;
        *width: 86.6357%;
    }

    .col-lg-9-10,
    .col-lg-27-30 {
        width: 90%;
        *width: 89.9690%;
    }

    .col-lg-14-15,
    .col-lg-28-30 {
        width: 93.3333%;
        *width: 93.3023%;
    }

    .col-lg-29-30 {
        width: 96.6667%;
        *width: 96.6357%;
    }

    .col-lg-1,
    .col-lg-1-1,
    .col-lg-30-30 {
        width: 100%;
    }
}