---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Special Elite', cursive;
$font-color: black;

@mixin aliasfix {
	-ms-transform: translate3d( 0, 0, 0);
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-o-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
}

@mixin translate($x, $y) {
	-ms-transform: translate($x, $y) translate3d( 0, 0, 0);
	-webkit-transform: translate($x, $y) translate3d( 0, 0, 0);
	-moz-transform: translate($x, $y) translate3d( 0, 0, 0);
	-o-transform: translate($x, $y) translate3d( 0, 0, 0);
	transform: translate($x, $y) translate3d( 0, 0, 0);
}

body {
	margin: 0px;

	// -ms-scroll-snap-points-y: repeat(100vh);
	// -ms-scroll-snap-type: mandatory;
	// -webkit-scroll-snap-points-y: repeat(100vh);
	// -webkit-scroll-snap-type: mandatory;
	// scroll-snap-points-y: repeat(100vh);
	// scroll-snap-type: mandatory;

	font-family: Raleway, sans-serif;
}

a {
	color: $font-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
}

.site-title {
	position: absolute;
	top: 2vh;
	left: 4vh;
}

.page-link {
	position: absolute;
	top: 2vh;
	right: 4vh;
}

.post {
	width: 100vw;
	height: 100vh;
	position: relative;
	font-family: 'Special Elite', sans-serif;
}

.post-no {
	position: absolute;
	bottom: 4vh;
	right: 4vh;
}

.post-content {
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);

	font-size: 2.5em;
}

.post-content p {
	-webkit-font-smoothing: antialiased;
}

.onepage-pagination {
	@include translate(0%, -50%);
	opacity: 0.1;
}