---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Special Elite', cursive;
$font-color: black;

@mixin aliasfix {
	-ms-transform: translate3d( 0, 0, 0);
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-o-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
}

@mixin translate($x, $y) {
	-ms-transform: translate($x, $y) translate3d( 0, 0, 0);
	-webkit-transform: translate($x, $y) translate3d( 0, 0, 0);
	-moz-transform: translate($x, $y) translate3d( 0, 0, 0);
	-o-transform: translate($x, $y) translate3d( 0, 0, 0);
	transform: translate($x, $y) translate3d( 0, 0, 0);
}

body {
	margin: 0px;

	// -ms-scroll-snap-points-y: repeat(100vh);
	// -ms-scroll-snap-type: mandatory;
	// -webkit-scroll-snap-points-y: repeat(100vh);
	// -webkit-scroll-snap-type: mandatory;
	// scroll-snap-points-y: repeat(100vh);
	// scroll-snap-type: mandatory;

	font-family: Raleway, sans-serif;
}

a {
	color: $font-color;
	text-decoration: none;
}

a:hover {
	opacity: 1;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	font-size: 1.8vw;
}

.site-title {
	position: absolute;
	top: 2vh;
	left: 4vh;
	opacity: 0.3;
}

.page-link {
	position: absolute;
	top: 2vh;
	right: 4vh;
	opacity: 0.3;
}

.post {
	width: 100vw;
	height: 100vh;
	position: relative;
	font-family: 'Special Elite', sans-serif;
}

.post-no {
	position: absolute;
	bottom: 4vh;
	right: 4vh;
	font-size: 2vw;
}

.post-content {
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);

	font-size: 4vw;
}

.post-content p {
	-webkit-font-smoothing: antialiased;
}

body>div#fp-nav.right {
	opacity: 0.08;
	right: 8px;
}

@media all and (max-width: 559px) {
	.post-content {
		left: 5%;
		@include translate(0%, -50%);

		font-size: 6.3vw;
	}

	header {
		font-size: 3vw;
	}

	.post-no {
		bottom: 5vh;
		right: 5vh;
		font-size: 4vw;
	}
}

@media all and (min-width: 560px) and (max-width: 959px) {
	.header {
		font-size: 3vw;
	}

	.post-no {
		font-size: 3vw;
	}
}