---
layout: page
title: Inspiration
---
<header class="header">
    <a class="title" href="{{ site.baseurl }}/">100haiku</a>
    <a class="page-link" href="{{ site.baseurl }}/inspiration">Inspiration</a>
</header>

<div class="inspirations pure-g">
  {% for inspiration in site.data.inspirations %}
      <div class="col-lg-1-3 col-md-1-2 col-sm-1-1" data-anchor="inspiration{{ forloop.index }}">
        <div class="inspiration">
          <div class="inspiration-content">
            {% if inspiration.kind == "text" %}
              <div class="inspiration-author">{{ inspiration.author }}</div>
              {% if inspiration.url != null %}<div class="inspiration-url"><a href="{{ inspiration.url }}" target="_blank"><i class="fa fa-link"></i></a></div>{% endif %}
              {{ inspiration.content }}
              <div class="inspiration-detail">{{ inspiration.detail }}</div>
            {% elsif inspiration.kind == "image" %}
              {% if inspiration.url != null %}<a href="{{ inspiration.url }}" target="_blank">{% endif %}
                <div class="inspiration-image">
                  <img src="{{ inspiration.href }}">
                </div>
              {% if inspiration.url != null %}</a>{% endif %}
            {% endif %}
          </div>
        </div>
      </div>
  {% endfor %}
</div>

<script type="text/javascript">
  var cw = $('.inspiration').width();
  var v = window.innerHeight;
  var w = window.innerWidth;
  var vh = v/100;
  var vw = w/100;
  // $('.inspiration').css({'height':cw/4*3+'px'});
  // $('.inspiration').css({'height':(v-(8*vh))/2+'px'});

  enquire.register("screen and (max-width:959px)", {
    match : function() { console.log("query matched!") }
  });
</script>