// _inspiration.scss

.page .page-link {
	text-decoration: underline;
}

.inspirations {
	padding-top: 8vh;
	padding-bottom: 8vh;
}

.inspiration {
	font-family: 'Special Elite', sans-serif;
	position: relative;
	font-size: 1.8vw;
	overflow: hidden;
	height: 43vh;
}

.inspiration-content {
	padding: 5% 5% 5% 12%;
	position: absolute;
	top: 50%;
	@include translate(0%, -50%);

	.inspiration-image {
		text-align: center;
	}
	
	img {
		width: 100%;
	}
}

.inspiration-author {
	opacity: 0.3;
	font-size: 80%;
	display: inline-block;
}

.inspiration-detail {
	opacity: 0.2;
	font-size: 60%;
	display: inline-block;
	float: right;
}

.inspiration-url {
	opacity: 0.1;
	font-size: 60%;
	// float: right;
	display: inline-block;
}

.inspiration-url:hover {
	opacity: 1;
}

// xs
@media all and (max-width: 559px) {
	.inspiration {
		font-size: 5.5vw;
	}

	.inspiration-url {
		font-size: 65%;
	}
}

// md
@media all and (min-width: 560px) and (max-width: 959px) {
	.inspiration {
		font-size: 2.5vw;
	}

	.inspiration-url {
		font-size: 60%;
	}
}