// _inspiration.scss

.inspirations {
	padding-top: 8vh;
	padding-bottom: 8vh;
}

.inspiration {
	display: inline-block;
	width: 19vw;
	border-width: 1px;
	border-style: solid;
	margin: 0px;
}

.inspiration-content {
	font-family: 'Special Elite', sans-serif;
}