<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content" id="fullpage">
        {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript">
      $(document).ready(function() {
        $('#fullpage').fullpage({
          anchors:[{% for post in site.posts %}'no{{ post.title }}'{% if forloop.last == false %},{% endif%}{% endfor %}],
          loopTop: true,
          loopBottom: true,
          animateAnchor: false,
          scrollBar: true
        });
      });
    </script>
  </body>

</html>
